@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200&family=Gilda+Display&display=swap');
*{
    font-family: 'Gilda Display', serif; 
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --primary-color:#e4b386;
    --bg-color:#131c3c;
    --bg-light:#18244b;
    --text-color:#9C9CA7;
    --hover-color:#E59C57;
}
html{
    font-size: 63.5%;
    overflow-x:hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    padding: 25px 10%;
    max-width: 1360px;
    width: 100%;
}
img{
    width: 100%;
    height: 100%;
}
section{
    padding: 25px 0;
}
.btn{
    padding: 18px 30px;
    font-size: 1.8rem;
    letter-spacing: 2px;
    border-radius: 2px;
    text-transform: uppercase;
    background-color: var(--primary-color);
    transition: all 0.5s;
    font-family:  'Barlow Condensed', sans-serif;
}
.btn:hover{
    background-color: var(--hover-color);
}
.text p{
    font-size: 1.6rem;
    font-family:  'Barlow Condensed', sans-serif;
    color: var(--primary-color);
    letter-spacing: 7px;
    text-transform: uppercase;
}
.title h2{
    font-size: 5rem;
    font-weight: 500;
    color: #fff;
}
.paragraph p{
    font-weight: 500;
    font-size: 1.9rem;
    max-width: 500px;
    text-align:start;
    display: flex;
    color:var(--text-color)
}
/* 
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Gilda Display', serif; */
section.hero-section{
    padding: 0px ;
}
header{
    justify-content: center;
    display: flex;
    position: relative;
    
}


/* header */
.header{
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 30px;
    max-width: 1360px;
    width: 100%;
    z-index: 999;
    background-color: var(--bg-color);
}

.header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 64px;
    padding: 16px;
    background-color:var(--bg-color);
    border-radius: 50%;
    padding: 16px;

}
.header .right{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.header .right .menu-btn{
    font-size: 2.5rem;
    color: #fff;
}
.header .right .cart{
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--primary-color) !important;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    text-align: center;
    
}
.header .right .cart a{
    font-size: 2.5rem;
    color: var(--primary-color);
}
.header .right .cart:hover{
    border: 1px solid var(--hover-color);
}
/* navbar */
.navbar{
    background-image: url('https://assets-global.website-files.com/65311391941d4646367f967e/653262376e45c7f44b17c011_Hero.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    min-height:100vh ;
    max-width: 1360px;
    width: 100%;
    padding: 0 ;
    top: 0%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.menu-bar{
    position: fixed;
    top: 0%;
    width: 100%;
    left: 0;
    display:block;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #131c3c;
    height: 100%;
    z-index: 1;

}

.menu-bar ul{
    padding-top: 90px;
    width: 100%;
    height: 100%;
    margin: 0%;
}
.menu-bar ul li a{
    height: 100%;
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-family:'Barlow Condensed', sans-serif;
    color: #fff;
    padding: 20px ;
}
.side-menu-bar{
    display: none;
}
.side-bar{
    display: none;
}
.menu-bar{
margin-top: -95.5vh;
transition: all 0.5s; 
opacity: 0;
}
.active{
    margin-top: 0;
    opacity: 1;
}
/* navbar contents */

.navbar .contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 95px ;
    width: 100%;
    height:100vh;
    background-image: radial-gradient(rgba(9, 4, 29, 0.631) , rgba(19, 16, 49, 0.36) , rgba(255, 255, 255, 0));
}
.navbar .contents .logo-box{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 20px;
    background-color: var(--bg-color);
}
.navbar .contents .post {
    display: flex;
    text-align: center;
    padding: 15px 0;

}
.navbar .contents .post span{
    color: var(--primary-color);
    font-size: 1.6rem;
    font-family:  'Barlow Condensed', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.navbar .contents .title{
    display: flex;
    text-align: center;
    padding: 10px 0;
    color: #fff;
}
.navbar .contents .title h1{
    font-size: 4.3rem;
    font-weight: 500;
    text-transform: uppercase;
}
.navbar .contents .text{
    display: flex;
    max-width: 500px;
    width: 100%;
    height: max-content;
    padding: 15px 0px;
}
.navbar .contents .text span{
    font-size: 2.6rem;
    font-weight: 500;
    text-align: center;
    color:#fff;
}
.navbar .contents button {
    margin-top:20px;
}


/* about section */
.about-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

 .about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
}
.about .box-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: -10px;    
}


.about .box-item .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 310px;
    background-color: var(--bg-light);
    border: 1px solid var(--primary-color);
    gap: 20px 0;

}
.about .box-item .box .logo{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    padding: 15px;
    
}
.about .box-item .box .title h2{
    font-size: 2.6rem;
    color: #fff;
    font-weight: 500;
}
.about .box-item .box .text{
    width: 250px;
    text-align: center;
}

.about .box-item .box .text p{
    font-size: 1.6rem;
    font-family:  'Barlow Condensed', sans-serif;
    color: var(--primary-color);
    letter-spacing: 7px;
}
.about .box-item .box .underline{
    display: flex;
    background-color: var(--primary-color);
    height: 1px;
    width: 40px;
    margin: 0;
    padding: 0%;
    
}


/* Banner */
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100%;
    padding-top: 60px;
}
.banner .image{
    width:450px;
    height: 550px;
    padding: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex: 1;
}
.banner .contents{
    max-width: 500px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    flex: 1;
    padding: 20px;
    row-gap: 10px;
}
.banner .contents .text{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.banner .contents .title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
    padding-top: 10px;
}
.banner .contents .paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.banner .contents .paragraph p{
    font-weight: 500;
    font-size: 1.9rem;
    max-width: 500px;
    text-align:start;
    display: flex;
    color:var(--text-color)
}
.banner .contents .small-card{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    width: max-content;
    height: 100%;
    padding-top: 50px;
}
.banner .contents .small-card .card{
    display: flex;
    width: 100%;
    height:100% ;
    justify-content:flex-start;
    align-items: center;
}
.banner .contents .small-card .card .image{
    height: 65px;
    width: 65px;
    background-color: var(--bg-light);
    display: flex;
    align-items: flex-start;
    padding:8px;
    justify-content: flex-start;
}
.banner .contents .small-card .card .right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    height: 100%;
    max-width: fit-content;
    gap: 5px;
    padding-left: 15px;
    
}
.banner .contents .small-card .card .right .text{
    padding-top: 0px;
}
.banner .contents .small-card .card .right .paragraph{
    padding: 5px 0 0;
    max-width: 180px;
}
.banner .contents .signature{
padding-top: 10px;
}
.banner .contents .signature .sign{
    width: 250px;
    padding: 15px 10px;
}


/* Service section */
.service{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.service .container .contents .title{
    padding: 20px 0;
    padding-bottom: 15px;
}
.service .container .contents .paragraph{
    margin-bottom: 20px;
}
.service .slider-section .top-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:20px 0 ;
}

.service .slider-section .top-contents .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
}
.service .slider-section .top-contents .icons i{
    font-size: 7rem;
    font-weight: 200;
    padding: 0%;
    margin: 0%;
}
.service .slider-section .sliders{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: auto;
    overflow-x: auto;
    gap: 30px;
}
.service .slider-section .sliders .slide{
    display: flex;
    flex-direction: column;
    max-width: 430px;
    width: 100%;
    height: 340px;
    background-color: var(--bg-light);
    justify-content: center;
    align-items: flex-start;
    padding: 35px;
    gap: 10px;
}
.service .slider-section .sliders .slide:hover{
    background-color: #202d5c;
}

.service .slider-section .sliders .slide .logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 100px;
    border: 1px solid var(--primary-color);
    padding: 25px;
    margin: 0%;
}
.service .slider-section .sliders .slide .title h2{
    font-size: 3.4rem;
}
.service .slider-section .sliders .slide:hover .title h2{
    color:var(--primary-color);
}
.service .slider-section .sliders .slide .text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    gap: 10px;
}
.service .slider-section .sliders .slide .text .line{
    height: 1px;
    width: 30px;
    background-color: var(--primary-color);
}


/* student section */
.section-students .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section-students .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom:50px;
}
.section-students .container .content .title h2{
    font-size: 40px;
}
.section-students .container .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.section-students .container .cards .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 544px;
    overflow: hidden;
    padding: 15px;
}

.section-students .container .cards .card .image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.section-students .container .cards .card .image img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s  ease-in-out;
    transform: scale(1);
}
.section-students .container .cards .card .image:hover img{
    transform: scale(1.05);
}
.section-students .container .cards .card .content{
    padding: 20px;
    line-height: 13px;
    background-color: var(--bg-light);
    width: 100%;
    height: auto;
    cursor: pointer;
}
.section-students .container .cards .card .content .name h3{
    font-size: 2.7rem;
    color:#fff;
    font-weight: 500;
    text-align: center;
}
.section-students .container .cards .card .content .icons{
    cursor: pointer;
    font-size: 2.5rem;
    color: #fff;
}


/* section stories */

.section-stories .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section-stories .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding-bottom:50px;
    padding-left: 20px;
}
.section-stories .container .content .title h2{
    font-size: 40px;
}
.section-stories .container .cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.section-stories .container .cards .card{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.section-stories .container .cards .card .image{
    width: 350px;
    height: 360px;
}
.section-stories .container .cards .card .content{
    width: 350px;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--bg-light);
    gap: 15px;
    padding-left: 0;
    
}
.section-stories .container .cards .card .content .text-section{
    background-color: var(--bg-color);
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
.section-stories .container .cards .card .content .title h2{
    font-size: 3.2rem;
    text-align: center;
}
.section-stories .container .cards .card .content .paragraph p{
    width: 250px;
    text-align: center;
}

.section-stories .container .cards .card .content .text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-stories .container .cards .card .content .text .line{
    width: 3rem;
    height: 1px;
    background: var(--primary-color);
}